@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
.menu {
  font-weight: 400;
  flex-wrap: wrap;
  gap: 16px;
}

.info-card-title {
  font-family: "Expletus Sans", cursive;
  background-color: rgb(0 0 0 / 0.4);
  font-size: 24px;
  border-radius: 16px 16px 0 0;
  line-height: 1;
}

.info-card-data {
  background-color: rgb(0 0 0 / 0.2);
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  border-radius: 0 0 16px 16px;
}
