@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.menu {
  font-weight: 400;
  flex-wrap: wrap;
  gap: 16px;

  .btn {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    color: #3ada3fd4;
    transition: 0.25s;
    padding: 8px 12px;
    gap: 8px;

    &:hover {
      border-color: #f34949;
      color: #f34949;
      box-shadow: 0 0.5rem 0.5rem -0.4rem #f34949;
      transform: translateY(-0.25rem);
    }

    &:active {
      border-color: #f3eb49;
      color: #f3eb49;
      box-shadow: 0 0.5rem 0.5rem -0.4rem #f3eb49;
      transform: translateY(-0.25rem);
    }
  }
}

.article-cards {
  flex-wrap: wrap;
  gap: 16px;

  .article-card {
    width: calc(33.33% - 48px);
    border-radius: 16px;
    background-color: rgb(18 18 18);

    &:hover {
      transition: transform 0.2s ease-out;
      transform: translateY(-8px);
    }
  }
}

.info-card-title {
  font-family: "Expletus Sans", cursive;
  background-color: rgb(0 0 0 / 0.4);
  font-size: 24px;
  border-radius: 16px 16px 0 0;
  line-height: 1;
}

.info-card-data {
  background-color: rgb(0 0 0 / 0.2);
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  border-radius: 0 0 16px 16px;
}

@media screen and (max-width: 800px) {
  .menu-item,
  .btn {
    width: calc(50% - 16px);
  }
  .article-cards .article-card {
    width: calc(50% - 48px);
  }
}

@media screen and (max-width: 600px) {
  .article-cards .article-card {
    width: calc(100% - 48px);
  }
}
