.custom-header {
  border-left: 4px solid #3daa6e;
}

.titles {
  gap: 16px;
  flex-wrap: wrap;
  .neon-btn {
    width: calc(20% - 40px);
    border: 2px solid rgb(4, 2, 65);
    color: #fff987;
    background-color: rgba(4, 2, 65, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover,
    &:active {
      box-shadow: 0 8px 8px -4px rgb(4, 2, 65);
    }
  }
}

@media screen and (max-width: 899px) {
  .titles .neon-btn {
    width: calc(33.33% - 40px);
  }
}

@media screen and (max-width: 499px) {
  .titles .neon-btn {
    width: calc(50% - 40px);
  }
}
