.container {
  padding: 2em;
  width: 100%;
  min-height: calc(100vh - 4rem);
  background: url("https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d29yayUyMGRlc2t8ZW58MHx8MHx8&w=1000&q=80")
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .accordian {
    .panel {
      width: 75vw;
      margin: auto;
      .panel-container {
        margin: auto;
        width: 80%;

        .form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .multi {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 12px;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
            p {
              flex: 1 1 auto;
              margin: 0;
              mat-form-field {
                width: 100%;
              }
            }
            margin-bottom: -8px;
          }
        }
        .order {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h3 {
            margin: 0;
          }
          .file-upload {
            display: none;
          }
        }
        .orders-table {
          width: 100%;
          max-width: 800px;
          margin: auto;
        }
        .bill-id {
          font-size: 1rem;
          text-align: end;
        }
        .dates {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          flex-wrap: wrap;
          .date {
            flex: 1;
            max-width: 320px;
            .title {
              margin-bottom: -8px;
              color: white;
              text-align: center;
              font-size: 1rem;
            }
          }
        }
        .form-field {
          display: flex;
          align-items: center;
          margin-top: 12px;
          .label {
            margin: 0;
          }
          .spacer {
            flex: 1 1 auto;
          }
        }
        .form-end {
          margin-bottom: 8px;
        }
        .foot-notes {
          width: 100%;
        }
      }
      .action-btn {
        margin: 0 1em;
      }
    }
  }
}

::ng-deep .mat-expansion-panel {
  background-color: rgb(23, 23, 23, 0.75) !important;
}
::ng-deep .mat-table,
.mat-card {
  background-color: #333 !important;
}
