.container {
  min-height: 100vh;
  background-image: url("/assets/backgrounds/anime.jpg");

  .cards {
    gap: 16px;
    flex-wrap: wrap;

    .card {
      width: calc(50% - 44px);
      background: rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      backdrop-filter: blur(4px);
      border: 2px solid;
      line-height: 1;

      .title {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: "Righteous", cursive;
        font-weight: 500;
        color: red;
        margin-bottom: 4px;
      }
      .quote {
        line-height: 1.4;
        letter-spacing: 1px;
        font-family: "Poppins", sans-serif;
      }

      .name {
        font-style: italic;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 1px;
        margin-bottom: 4px;
        h5 {
          margin: 0;
          color: rgb(62, 235, 28);
        }
        .copy {
          font-size: 14px;
          width: 14px;
          height: 14px;
          &:active {
            transform: scale(1.5);
          }
        }
      }
    }

    .neon-btn {
      border: 2px solid #1760e7;
      color: #1760e7;

      &:hover,
      &:active {
        border-color: #f3eb49;
        color: #f3eb49;
        box-shadow: 0 8px 8px -4px #f3eb49;
      }
    }
  }

  .search-bar {
    margin: 16px auto 0;
    background: #f4f4f4;
    border-radius: 32px;
    padding: 4px 16px;
    width: min(calc(100% - 64px), 600px);
    input {
      outline: none;
      border: none;
      background: transparent;
      flex: 1;
      font-weight: 600;
    }
    input,
    mat-icon {
      color: #060016;
    }
  }

  .toggle {
    margin: 16px 16px 0;
  }

  .random {
    position: fixed;
    bottom: 32px;
    right: 32px;
  }
}
@media screen and (max-width: 600px) {
  .container .cards .card {
    width: calc(100% - 40px);
  }
  .random {
    bottom: 16px;
    right: 16px;
  }
}
