<div class="container fix-background full-width">
  <app-titlebar title="anime quotes"></app-titlebar>

  <div *ngIf="!loader; else spinner">
    <div class="cards pad-16 flex-stretch">
      <mat-card class="card padding" *ngFor="let result of results">
        <h4 class="title cursor" (click)="anime(result.anime)">
          {{ result.character }}
        </h4>
        <div class="name flex-justify">
          <h5 class="cursor" (click)="character(result.character)">
            {{ result.anime }}
          </h5>
          <mat-icon class="copy" [cdkCopyToClipboard]="result.quote"
            >content_copy</mat-icon
          >
        </div>
        <p class="quote text-justify">{{ result.quote }}</p>
      </mat-card>
    </div>
    <button class="mine" mat-mini-fab color="primary" (click)="random()">
      <mat-icon>format_quote</mat-icon>
    </button>
  </div>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
