<div class="recipe" *ngIf="!showLoader; else loader">
  <div class="header header-a">
    Categories ({{ categories && categories.length }})
  </div>
  <div class="section flex-stretch margin-16">
    <div
      class="item pad-8 cursor text-center item-a"
      *ngFor="let category of categories"
      (click)="lookupCategory(category.strCategory)"
    >
      <div class="image">
        <img [src]="category.strCategoryThumb" alt="" loading="eager" />
      </div>
      {{ category.strCategory }}
    </div>
  </div>
  <div class="header header-b">Origins ({{ areas && areas.length }})</div>
  <div class="section flex-stretch margin-16">
    <div
      class="item pad-8 cursor text-center item-b"
      *ngFor="let area of areas"
      (click)="lookupArea(area)"
    >
      {{ area }}
    </div>
  </div>
  <div class="header header-c">
    Ingredients ({{ ingredients && ingredients.length }})
  </div>
  <div class="section flex-stretch margin-16">
    <div
      class="item pad-8 cursor text-center item-c"
      *ngFor="let ingredient of ingredients"
      (click)="lookupIngredient(ingredient)"
    >
      <div class="image">
        <img [src]="imagePath(ingredient)" alt="" loading="eager" />
      </div>
      {{ ingredient }}
    </div>
  </div>
</div>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
