@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Noto+Serif:ital@1&display=swap");

.container {
  background-image: url("/assets/backgrounds/dashboard.jpg");
  min-height: 100vh;

  .cards {
    flex-wrap: wrap;
    gap: 16px;

    .card {
      width: calc(16.67% - 48px);
      background-color: rgba(50, 50, 50, 0.6);
      border-radius: 16px;
      box-shadow: 8px 8px 24px #000000, -8px -8px 24px #131313;

      .title {
        margin: 16px auto 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &:hover {
        background-color: rgb(255 255 255 / 0.2);
        .image-container {
          img {
            transition: transform 0.7s ease-in-out;
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .cards .card {
      width: calc(25% - 48px);
    }
  }

  @media screen and (max-width: 600px) {
    .cards .card {
      width: calc(50% - 48px);
    }
  }
}
