@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.container {
  width: 100%;
  height: calc(100vh - 4rem);
  margin: 0;
  padding: 0.5em 0;
  box-sizing: border-box;
  overflow: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.alphacoders.com/519/thumb-1920-519509.jpg") no-repeat
      center;
  background-size: cover;

  .section {
    margin: 4rem;
    .header {
      padding: 20px;
      border-left: solid 5px #dc3232;
      .title {
        font-family: "Abel", sans-serif;
        font-size: 4rem;
        margin: 0%;
      }
    }
    .result {
      text-align: end;
      font-family: "Abel", sans-serif;
    }
    .main {
      display: flex;
      flex-wrap: wrap;
      margin: 2em 0;
      justify-content: space-between;
      gap: 16px 24px;
      .option {
        font-family: "Abel", sans-serif;
        font-size: 1.2rem;
        // margin: 0;
        &:hover,
        &:active {
          color: #dc3232;
          text-decoration: underline black;
          font-weight: 600;
        }
      }
      .dish {
        width: 20%;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .thumb {
          width: 100%;
          border-radius: 12px;
        }
        .tag {
          text-align: center;
          padding: 10px;
          .name {
            font-family: "Abel", sans-serif;
            color: black;
          }
        }
      }
    }
  }
}
