.container {
  min-height: 100vh;
  background-image: url("/assets/backgrounds/meals.jpg");

  .nav {
    height: 3rem;
    background-color: rgb(0 0 0 / 40%);
    backdrop-filter: blur(2px);
    color: #fff;
    .header {
      font-family: "Noto Serif", serif;
      font-weight: 500;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }

  mat-sidenav-container {
    background: transparent;
    mat-sidenav {
      background-color: black;
      position: fixed;
      margin-top: 3rem;
      width: 240px;
    }
    mat-sidenav-content {
      max-height: calc(100vh - 3rem);
    }
  }

  .search {
    gap: 8px;
    background: whitesmoke;
    border-radius: 4px;
    margin: 16px 16px 8px;
    padding: 8px;
    .input {
      outline: none;
      background-color: transparent;
      border: none;
    }
    mat-icon {
      color: #2d2d2d;
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
  .menu-btn {
    margin: auto;
    background-color: whitesmoke;
    color: #2d2d2d;
    width: calc(100% - 32px);
    margin: 8px 16px;
    .button {
      gap: 8px;
    }
  }
}
