.container {
  min-height: 100vh;
  background-image: url("/assets/backgrounds/meals.jpg");

  mat-sidenav-container {
    background: transparent;
    mat-sidenav {
      background-color: rgb(32, 32, 32);
      position: fixed;
      margin-top: 3rem;
      width: 240px;
    }
    mat-sidenav-content {
      height: calc(100vh - 3rem);
    }
  }
  .menu {
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    font-family: "Montserrat", cursive;
    &:hover {
      background-color: rgb(48, 48, 48);
      border-right: 4px solid rgba(226, 106, 2, 0.893);
      color: rgb(6, 196, 22);
      cursor: pointer;
      // transition: all ease-in-out 0.5s;
    }
  }
  .search {
    gap: 8px;
    background: whitesmoke;
    border-radius: 4px;
    margin: 16px 16px 8px;
    padding: 8px;
    .input {
      outline: none;
      background-color: transparent;
      border: none;
    }
    mat-icon {
      color: #2d2d2d;
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
