<div class="container fix-background full-width">
  <mat-toolbar class="nav flex-justify">
    <button mat-icon-button (click)="home()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="header">Cook Book</div>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container [hasBackdrop]="isMobile">
    <mat-sidenav #drawer position="end" mode="over">
      <div class="search flex-center">
        <input
          class="input"
          placeholder="Search Drink"
          [(ngModel)]="query"
          (keyup.enter)="search()"
        />
        <mat-icon matSuffix (click)="search()">search</mat-icon>
      </div>
      <div class="menu flex" (click)="ingredients()">
        <mat-icon matPrefix>egg</mat-icon>
        <div>Ingredients</div>
      </div>
      <div class="menu flex" (click)="dictionary()">
        <mat-icon matPrefix>menu_book</mat-icon>
        <div>Dictionary</div>
      </div>
      <div class="menu flex" (click)="menu()">
        <mat-icon matPrefix>restaurant</mat-icon>
        <div>Menu</div>
      </div>
      <div class="menu flex" (click)="random()">
        <mat-icon matPrefix>fastfood</mat-icon>
        <div>Random</div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet name="cookbook"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
