<div class="container fix-background full-width">
  <mat-toolbar class="nav flex-center">
    <button mat-icon-button (click)="home()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span class="spacer"></span>
    <div class="header">Poetry</div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>auto_stories</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container [hasBackdrop]="isMobile">
    <mat-sidenav #drawer position="end" mode="over">
      <div class="drawer pad-16" *ngIf="showPoets; else poemList">
        <h1 class="text-center">POETS</h1>
        <div
          class="title"
          [class.active]="author == poem.author"
          (click)="poemsByPoet(author)"
          *ngFor="let author of authors"
        >
          {{ author }}
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="poem pad-16 text-center" *ngIf="!spinner; else loader">
        <h1 class="name">{{ poem.title }}</h1>
        <h2 class="poet">~ {{ poem.author }}</h2>
        <div class="lines">
          <p *ngFor="let line of poem.lines">{{ line }}</p>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #poemList>
  <div class="drawer pad-16">
    <h1 class="text-center">POEMS</h1>
    <div
      *ngFor="let p of poems"
      class="title cursor"
      [class.active]="p.title == poem.title"
      (click)="getPoem(p.title)"
    >
      {{ p.title }}
    </div>
  </div>
</ng-template>
