.container {
  min-height: 100vh;
  background-image: url("/assets/backgrounds/poetry.jpg");

  .nav {
    height: 3rem;
    background-color: rgb(0 0 0 / 40%);
    backdrop-filter: blur(2px);
    color: #fff;
    .header {
      font-family: "Noto Serif", serif;
      font-weight: 500;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }

  mat-sidenav-container {
    background: transparent;
    mat-sidenav {
      background-color: black;
      position: fixed;
      margin-top: 3rem;
      max-width: 200px;
    }
    mat-sidenav-content {
      max-height: calc(100vh - 3rem);
    }
  }

  .poem {
    margin: auto;
    width: calc(100% - 32px);
    min-height: calc(100vh - 3rem);
    max-width: 800px;
    text-shadow: 2px 2px 12px black;

    .name {
      font-family: "Righteous", cursive;
    }
    .poet {
      font-family: "Amarante", cursive;
      font-style: italic;
    }
    .lines {
      font-family: "Fira Sans Condensed", sans-serif;
    }
  }

  .drawer {
    h1 {
      font-family: "Bebas Neue", cursive;
      letter-spacing: 2px;
      margin-bottom: 4px;
    }
    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 4px;
      font-family: "Open Sans", sans-serif;
      &:hover,
      &:active {
        color: chartreuse;
      }
    }
  }
}
