@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");

.header {
  margin: 32px;
  font-size: 4rem;
  line-height: 1;
  padding-left: 16px;
  border-left: 8px solid #7a0bce;
  font-family: "Concert One", cursive;
  text-transform: uppercase;
}

.flex-container {
  margin: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  .left,
  .right {
    flex: 1;
    .nav {
      scale: 3;
      .icon {
        scale: 2;
        color: #ce420b;
      }
    }
  }
}
.category {
  padding: 8px;
  flex: 2;
  font-family: "Koulen", cursive;
  background-color: rgb(255 255 255 / 32%);
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  .title {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    color: #60ce0b;
    letter-spacing: 8px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  }
  .link {
    font-size: 1.5rem;
    color: #292145;
    padding: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
