@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  height: calc(100vh - 4em);
  gap: 8px;
}
