.container {
  min-height: 100vh;
  background-image: url("/assets/backgrounds/weather.jpg");
}
.search-bar {
  margin: 8px;
  background: black;
  border-radius: 32px;
  padding: 0 16px;
  max-width: 600px;
  width: 60%;
  input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    flex: 1;
  }
}

.city-results {
  line-height: 1.6;
  color: #252525;
  font-weight: bold;
  flex-wrap: wrap;
  text-shadow: 0px 0px 4px #d5d5d5, 4px 4px 7px rgb(0 0 0 / 20%);
  gap: 4px;
  .area {
    padding: 4px;
    gap: 4px;
    width: calc(33% - 8px);
    mat-icon {
      width: 14px;
      height: 14px;
      font-size: 14px;
      visibility: hidden;
    }
    &:hover,
    &:active {
      color: #d1d1d1;
      text-shadow: 0px 0px 4px #232323, 4px 4px 7px rgb(0 0 0 / 20%);
      transition: all 0.7s ease-in-out;
      mat-icon {
        visibility: visible;
      }
    }
  }
}

.no-result {
  margin-top: 28vh;
  line-height: 1.2;
  font-size: 2em;
  font-family: "Nunito Sans", cursive;
  text-shadow: 0 8px 8px #000000, 0 -1px 1px;
}

.weather-panel {
  margin: 16px auto;
  width: min(calc(100% - 64px), 840px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgb(255, 255, 255);
  color: #242a2a;
  line-height: 1;
  .current {
    font-size: 16px;
    text-shadow: 0px 0px 4px #a0b9d6;
    font-family: "Righteous", cursive;
  }
  .temperature {
    font-family: "Open Sans", sans-serif;
    font-size: 7em;
    color: #fafafa;
    text-shadow: 4px 4px 8px #232323;
  }
  .weather {
    font-family: "Righteous", cursive;
    text-shadow: 0px 0px 4px #a0b9d6;
    font-size: 2em;
  }
  hr {
    margin: 16px 0;
  }
  .stats {
    flex-wrap: wrap;
    font-family: "Fira Sans Condensed", sans-serif;
    gap: 16px;
    color: #ddeaf1;
    text-shadow: 2px 2px 4px #343434;
    .stat {
      width: calc(33% - 16px);
      gap: 4px;
      .icon {
        width: 12.5%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .city-results .area {
    width: calc(50% - 10px);
  }
  .weather-panel .stats .stat {
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 432px) {
  .city-results .area {
    width: calc(100% - 8px);
  }
  .weather-panel {
    .current {
      flex-direction: column;
    }
    .stats .stat {
      width: calc(100% - 16px);
    }
  }
}
