.custom-header {
  border-left: 4px solid #e18917;
}

.no-margin {
  margin: 0 auto;
}
.items {
  gap: 16px;
  flex-wrap: wrap;

  .item {
    width: calc(33% - 48px);
    border-radius: 16px;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 50%);
    color: #200122;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

    .images {
      gap: 16px;
      align-items: baseline;
      width: 100%;
      .image {
        width: calc(50% - 16px);
        .title {
          font-family: "Montserrat", cursive;
          color: rgb(170 15 15);
          margin-bottom: 4px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .content {
      font-family: "Overlock", cursive;
      margin: 0;
    }
  }
}

@media screen and (max-width: 799px) {
  .items .item {
    width: calc(50% - 48px);
  }
}

@media screen and (max-width: 499px) {
  .items .item {
    width: 100%;
  }
}
