<div class="flex-center">
  <div class="search-bar flex-justify">
    <input
      [(ngModel)]="location"
      placeholder="Enter Location"
      (keyup.enter)="searchLocation()"
    />
    <button mat-icon-button color="primary" (click)="searchLocation()">
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="!loader; else spinner">
  <div
    class="results pad-16 flex"
    *ngIf="locationResult && locationResult.length; else noResults"
  >
    <div
      class="area flex cursor"
      *ngFor="let res of locationResult"
      (click)="weather(res.id)"
    >
      <mat-icon matSuffix>east</mat-icon>
      <span>{{ res.name }}, {{ res.country }}</span>
    </div>
  </div>
</div>

<ng-template #noResults>
  <div class="no-result text-center">
    No Matching Results Found. Try Another Place.
  </div>
</ng-template>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
