h1,
h4,
p {
  margin: 0;
}
.coin-container {
  background: rgb(0 0 0 / 0.4);
  border-radius: 16px;
  backdrop-filter: blur(2px);
  box-shadow: #000 4px 4px 4px;
  .title {
    font-family: "Fira Sans Condensed", sans-serif;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  h4 {
    color: #ababab;
    font-weight: bold;
  }

  .rating {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    margin: 8px;
    gap: 8px;
    .up {
      color: #00c247;
    }
    .down {
      color: #d90000;
    }
  }
  .description {
    font-family: "Nunito Sans", cursive;
  }
}
