<div
  class="coin-container pad-16 margin-16 flex-column"
  *ngIf="!loader; else spinner"
>
  <img [src]="coin.image" alt="" />
  <h1 class="title cursor" (click)="viewCoin(coin.url)">
    {{ coin.name }}
  </h1>
  <h4>{{ coin.symbol | uppercase }} ( Rank: {{ coin.rank }} )</h4>
  <div class="rating flex-center">
    <div class="up">
      <mat-icon matPrefix>thumb_up</mat-icon>
      {{ coin.upVotes }} %
    </div>
    <div class="down">
      <mat-icon matPrefix>thumb_down</mat-icon>
      {{ coin.downVotes }} %
    </div>
  </div>
  <p class="description text-justify" [innerHtml]="coin.description"></p>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
