mat-form-field {
  ::ng-deep.mat-form-field-wrapper {
    padding: 0;
  }
}

.menu {
  padding: 16px 16px 0;
  width: calc(100% - 32px);
}

.row {
  gap: 8px;
  margin: 12px 0;
  padding: 0 12px;
  width: calc(100% - 24px);

  span {
    width: calc(100% / 7);
    font-family: "Montserrat", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .icon {
      width: 56px;
      margin-left: 12px;
    }
  }
  .price {
    color: #eeea1b;
  }
  &:hover,
  &:active {
    background-color: rgba(5, 72, 149, 0.4);
  }
}

.headings {
  font-style: bold;
  border: 2px solid;
  background: rgb(0 0 0 / 60%);
  backdrop-filter: blur(2px);
  padding: 12px;
  width: calc(100% - 28px);

  span {
    font-weight: bold;
    font-size: 16px;
  }
  &:hover {
    background: rgba(0, 0, 0, 0);
  }
}

.mobile-row {
  span {
    width: 50%;
  }
  .coin-symbol {
    gap: 8px;
    .icon {
      width: 48px;
      margin: 0;
    }
  }
}

.up {
  color: #2fff7b;
}
.down {
  color: #ef4040;
}

@media screen and (max-width: 799px) {
  .row {
    span {
      font-size: 12px;
    }
  }
}
