.game {
  margin-bottom: 16px;
  .fit-image {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 16px;
  }
}

.info-cards {
  gap: 16px;
  flex-wrap: wrap;
  align-items: stretch;
  .info-card {
    backdrop-filter: blur(4px);
    width: calc(50% - 16px);
    ul {
      margin: 0;
    }
    .link {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.custom-header {
  border-left: 4px solid #e17c17;
}

.cards {
  flex-wrap: wrap;
  gap: 16px;
  .card {
    border: 1px solid #f0f0f0;
    padding: 4px;
    background-color: rgba(4, 2, 65, 0.5);
    width: calc(100% / 6 - 24px);
    img {
      max-width: 100%;
      height: calc(32vh - 20px);
    }
    .title {
      color: #f0f0f0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: "Overlock", cursive;
      text-shadow: 2px 2px 4px #1a170c;
      margin-top: -4px;
    }
  }
}

.youtube {
  width: calc(100% - 32px);
  height: 400px;
  max-width: 560px;
  margin-bottom: 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 999px) {
  .cards .card {
    width: calc(20% - 24px);
  }
}

@media screen and (max-width: 899px) {
  .cards .card {
    width: calc(25% - 24px);
  }
  .youtube {
    height: 320px;
  }
}

@media screen and (max-width: 599px) {
  .info-cards .info-card {
    width: calc(100% - 16px);
  }
  .cards .card {
    width: calc(100% / 3 - 24px);
  }
}

@media screen and (max-width: 499px) {
  .cards .card {
    width: calc(50% - 18px);
  }
  .youtube {
    height: 240px;
  }
}
