<div class="container">
  <app-titlebar title="Exercise Suggestions"></app-titlebar>
  <div class="menu">
    <mat-form-field class="search" appearance="legacy">
      <mat-label>Search Exercise</mat-label>
      <input type="text" matInput [(ngModel)]="query">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Exercise Type</mat-label>
      <mat-select [(ngModel)]="selectedType">
        <mat-option [value]="">--</mat-option>
        <mat-option *ngFor="let op of types" [value]="op">{{op|titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Focus Muscle</mat-label>
      <mat-select [(ngModel)]="selectedMuscle">
        <mat-option [value]="">--</mat-option>
        <mat-option *ngFor="let op of muscles" [value]="op">{{op|titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Difficulty Level</mat-label>
      <mat-select [(ngModel)]="selectedLevel">
        <mat-option [value]="">--</mat-option>
        <mat-option *ngFor="let op of levels" [value]="op">{{op|titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="getExercises()">
      <mat-icon matPrefix>search</mat-icon>
      Search
    </button>
  </div>
  <div *ngIf="!showSpinner;else spinner">
    <div class="page-menu">
      <button mat-icon-button (click)="prevPage()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <div>Page {{offset + 1}}</div>
      <button mat-icon-button (click)="nextPage()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <div class="exercises">
      <div class="exercise" *ngFor="let exercise of exercises" [style.backgroundColor]="exercise.bg"
        [style.color]="exercise.text">
        <div class="title">{{exercise.name | titlecase}}</div>
        <div class="description">{{exercise.instructions}}</div>
        <div class="tags">
          <div class="tag" [style.backgroundColor]="exercise.text" [style.color]="exercise.bg">
            {{exercise.difficulty|uppercase}}
          </div>
          <div class="tag" [style.backgroundColor]="exercise.text" [style.color]="exercise.bg">{{exercise.type |
            uppercase}}</div>
          <div class="tag" [style.backgroundColor]="exercise.text" [style.color]="exercise.bg">{{exercise.muscle |
            uppercase}}</div>
          <div class="tag" [style.backgroundColor]="exercise.text" [style.color]="exercise.bg">{{exercise.equipment |
            uppercase}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="loader">
    <mat-spinner color="primary"></mat-spinner>
    <div>Loading Exercises ...</div>
  </div>
</ng-template>