<div class="container">
    <section class="header">
        <h1>Add Product/Service</h1>
        <span class="spacer"></span>
        <button mat-mini-fab (click)="addItem()">
            <mat-icon>add</mat-icon>
        </button>
    </section>

    <form class="form" [formGroup]="form">
        <ng-container formArrayName="items">
            <ng-container *ngFor="let item of itemControls.controls; let i = index">
                <div [formGroup]="item" class="item">

                    <div class="row-1">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name">
                            <mat-error *ngIf="item.controls['name'].hasError('required')">
                                Name is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Description</mat-label>
                            <input matInput type="text" formControlName="description">
                            <mat-error *ngIf="item.controls['description'].hasError('required')">
                                Description is required
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div class="row-2">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Unit Price</mat-label>
                            <input matInput formControlName="price" type="number" min="0" step="0.5">
                            <mat-error *ngIf="item.controls['price'].hasError('required')">
                                Unit Price is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Quantity</mat-label>
                            <input matInput formControlName="quantity" type="number" min="1" step="1">
                            <mat-error *ngIf="item.controls['quantity'].hasError('required')">
                                Quantity is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Discount (%)</mat-label>
                            <input matInput formControlName="discount" type="number" min="0" max="100" step="0.1">
                            <mat-error *ngIf="item.controls['discount'].hasError('required')">
                                Discount is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Tax (%)</mat-label>
                            <input matInput formControlName="tax" type="number" min="0" max="100" step="0.1">
                            <mat-error *ngIf="item.controls['tax'].hasError('required')">
                                Tax is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row-3">
                        <span class="spacer"></span>
                        <button mat-stroked-button color="warn" (click)="removeItem(i)">Remove Item</button>
                    </div>

                </div>
            </ng-container>
        </ng-container>
    </form>
    <div class="step-actions">
        <button class="step-btn" mat-raised-button matStepperPrevious color="accent">Go Back</button>
        <span class="spacer"></span>
        <button class="step-btn" mat-raised-button matStepperNext color="accent" (click)="save()">Save &
            Proceed</button>
    </div>
</div>