<div class="weather-panel" *ngIf="!showLoader;else spinner">
  <div class="current-weather">
    <div class="main">
      <div class="date">{{currentWeather.time|date:'MMM dd, yyyy | HH:mm'}}</div>
      <div class="temperature">{{currentWeather.temperature}}°C</div>
      <div class="date"> {{setLocation.name + ', ' + setLocation.country + ' | ' + currentWeather.symbolPhrase |
        titlecase}}</div>
    </div>
    <div class="stats">
      <div class="stat">
        <img src="/assets/weather/thermometer.png" alt="" class="icon">
        <div class="label">Feels Like | {{currentWeather.feelsLikeTemp}}°C</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/humidity.png" alt="" class="icon">
        <div class="label">Humidity | {{currentWeather.relHumidity}}%</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/dew.png" alt="" class="icon">
        <div class="label">Dew Point | {{currentWeather.dewPoint}}°C</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/wind.png" alt="" class="icon">
        <div class="label">Wind | {{currentWeather.windSpeed + ' kmph ' + currentWeather.windDirString}}</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/precipitation.png" alt="" class="icon">
        <div class="label">Precipitation | {{currentWeather.precipProb}}%</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/cloudiness.png" alt="" class="icon">
        <div class="label">Cloudiness | {{currentWeather.cloudiness}}%</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/thunder.png" alt="" class="icon">
        <div class="label">Thunder | {{currentWeather.thunderProb}}%</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/ultraviolet.png" alt="" class="icon">
        <div class="label">UV Index | {{currentWeather.uvIndex}}</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/pressure.png" alt="" class="icon">
        <div class="label">Pressure | {{currentWeather.pressure}} hPa</div>
      </div>
      <div class="stat">
        <img src="/assets/weather/visibility.png" alt="" class="icon">
        <div class="label">Visibility | {{currentWeather.visibility}} metres</div>
      </div>
    </div>
  </div>
  <div class="main-label">Upcoming Hours</div>
  <div class=" hour-view">
    <div class="hour-card" *ngFor="let hour of hourSeries" (click)="currentWeather=hour">
      <div class="hour-main">
        <div class="time">{{hour.time|date:'shortTime'}} | {{hour.symbolPhrase}}</div>
        <div class="temperature">{{hour.temperature}}°C</div>
      </div>
      <div class="hour-stats">
        <div class="hour-stat">
          <img src="/assets/weather/thermometer.png" alt="" class="icon">
          <div class="label">Feels Like | {{hour.feelsLikeTemp}}°C</div>
        </div>
        <div class="hour-stat">
          <img src="/assets/weather/humidity.png" alt="" class="icon">
          <div class="label">Humidity | {{hour.relHumidity}}%</div>
        </div>
        <div class="hour-stat">
          <img src="/assets/weather/wind.png" alt="" class="icon">
          <div class="label">Wind | {{hour.windSpeed + ' kmph ' + hour.windDirString}}</div>
        </div>
        <div class="hour-stat">
          <img src="/assets/weather/precipitation.png" alt="" class="icon">
          <div class="label">Precipitation | {{hour.precipProb}}% {{hour.precipType}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-label">Upcoming Days</div>
  <div *ngFor="let day of daySeries">
    <div class="current-weather day-card">
      <div class="main">
        <div class="row">
          <div class="date">{{day.date|date:'fullDate'}}</div>
          <div class="date"> {{setLocation.name + ', ' + setLocation.country + ' | ' + day.symbolPhrase |
            titlecase}}</div>
        </div>
        <div class="temperature">{{day.minTemp}}°C ~ {{day.maxTemp}}°C</div>
        <div class="row">
          <div class="icon-row">
            <img src="/assets/weather/sunrise.png" alt="" class="main-icon">
            <div class="date">{{day.sunrise}} | </div>
            <div class="date">{{day.sunset}}</div>
            <img src="/assets/weather/sunset.png" alt="" class="main-icon">
          </div>
          <div class="icon-row">
            <img src="/assets/weather/moonrise.png" alt="" class="main-icon">
            <div class="date">{{day.moonset}} | </div>
            <div class="date">{{day.moonrise}}</div>
            <img src="/assets/weather/moonset.png" alt="" class="main-icon">
          </div>
        </div>
      </div>
      <div class="stats">
        <div class="stat">
          <img src="/assets/weather/thermometer.png" alt="" class="icon">
          <div class="label">Feels Like | {{day.minFeelsLikeTemp}}°C ~ {{day.maxFeelsLikeTemp}}°C</div>
        </div>
        <div class="stat">
          <img src="/assets/weather/humidity.png" alt="" class="icon">
          <div class="label">Humidity | {{day.minRelHumidity}}% ~ {{day.maxRelHumidity}}%</div>
        </div>
        <div class="stat">
          <img src="/assets/weather/dew.png" alt="" class="icon">
          <div class="label">Dew Point | {{day.minDewPoint}}°C ~ {{day.maxDewPoint}}°C</div>
        </div>
        <div class="stat">
          <img src="/assets/weather/wind.png" alt="" class="icon">
          <div class="label">Wind | {{day.maxWindSpeed + ' kmph ' + day.windDir}}°</div>
        </div>
        <div class="stat">
          <img src="/assets/weather/precipitation.png" alt="" class="icon">
          <div class="label">Precipitation | {{day.precipProb}}%</div>
        </div>
        <div class="stat">
          <img src="/assets/weather/cloudiness.png" alt="" class="icon">
          <div class="label">Cloudiness | {{day.cloudiness}}%</div>
        </div>
        <div class="stat">
          <img src="/assets/weather/ultraviolet.png" alt="" class="icon">
          <div class="label">UV Index | {{day.uvIndex}}</div>
        </div>
        <div class="stat">
          <img src="/assets/weather/pressure.png" alt="" class="icon">
          <div class="label">Pressure | {{day.pressure}} hPa</div>
        </div>
        <div class="stat">
          <img src="/assets/weather/visibility.png" alt="" class="icon">
          <div class="label">Visibility | {{day.minVisibility}} metres</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="loader">
    <mat-spinner color="warn"></mat-spinner>
    <h1>Getting Current Weather</h1>
  </div>
</ng-template>