.game {
  margin-bottom: 16px;
  .fit-image {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 16px;
  }
}

.info-cards {
  gap: 16px;
  flex-wrap: wrap;
  align-items: stretch;
  .info-card {
    backdrop-filter: blur(4px);
    width: calc(50% - 16px);
    ul {
      margin: 0;
    }
    .link {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .info-cards .info-card {
    width: calc(100% - 16px);
  }
}
