.header-a {
  border-left: 4px solid #f5df1b;
}
.header-b {
  border-left: 4px solid #1b72f5;
}
.header-c {
  border-left: 4px solid #16ff45;
}
.header-d {
  border-left: 4px solid #f51b47;
}

.item-a {
  color: #000;
  background-color: #f5df1b;
  &:hover,
  &:active {
    color: #f5df1b;
    background-color: #000;
  }
}
.item-b {
  color: #000;
  background-color: #1b72f5;
  &:hover,
  &:active {
    color: #1b72f5;
    background-color: #000;
  }
}
.item-c {
  color: #000;
  background-color: #16ff45;
  &:hover,
  &:active {
    color: #16ff45;
    background-color: #000;
  }
}
.item-d {
  color: #000;
  background-color: #f51b47;
  &:hover,
  &:active {
    color: #f51b47;
    background-color: #000;
  }
}
