.image-container {
  margin-bottom: 16px;
  .fit-image {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 16px;
  }
}

.info-cards {
  gap: 16px;
  flex-wrap: wrap;
  .info-card {
    backdrop-filter: blur(4px);
  }
}

.screenshots {
  .image-container {
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 45%) 0px 4px 12px 0px;
    .fit-image {
      border-radius: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
