<div class="details" *ngIf="!showLoader">
  <div class="header">
    <img class="image" [src]="gameDetails.thumbnail" alt="">
    <div class="title">
      <div class="name"> {{gameDetails.title}} </div>
      <div class="link">
        <mat-icon>sports_esports</mat-icon>
        <a [href]="gameDetails.game_url" target="_blank">
          Visit {{gameDetails.title}}'s HomePage
        </a>
      </div>
    </div>
  </div>
  <div class="section-name"> Game Description </div>
  <div class="description">{{gameDetails.description}}</div>

  <div class="table">
    <div class="section">
      <div class="section-name">Game Details</div>
      <div class="table">
        <div class="section key">Genre</div>
        <div class="section key">{{gameDetails.genre}}</div>
      </div>
      <div class="table">
        <div class="section key">Platform</div>
        <div class="section key">{{gameDetails.platform}}</div>
      </div>
      <div class="table">
        <div class="section key">Released On</div>
        <div class="section key">{{gameDetails.release_date}}</div>
      </div>
      <div class="table">
        <div class="section key">Status</div>
        <div class="section key">{{gameDetails.status}}</div>
      </div>
      <div class="table">
        <div class="section key">Developer</div>
        <div class="section key">{{gameDetails.developer}}</div>
      </div>
      <div class="table">
        <div class="section key">Publisher</div>
        <div class="section key">{{gameDetails.publisher}}</div>
      </div>
    </div>
    <div class="section" *ngIf="gameDetails.minimum_system_requirements">
      <div class="section-name">Minimun System Requirements</div>
      <div class="table">
        <div class="section key">Operating System</div>
        <div class="section key">{{gameDetails.minimum_system_requirements.os}}</div>
      </div>
      <div class="table">
        <div class="section key">Processor</div>
        <div class="section key">{{gameDetails.minimum_system_requirements.processor}}</div>
      </div>
      <div class="table">
        <div class="section key">Memory</div>
        <div class="section key">{{gameDetails.minimum_system_requirements.memory}}</div>
      </div>
      <div class="table">
        <div class="section key">Graphics</div>
        <div class="section key">{{gameDetails.minimum_system_requirements.graphics}}</div>
      </div>
      <div class="table">
        <div class="section key">Storage Space</div>
        <div class="section key">{{gameDetails.minimum_system_requirements.storage}}</div>
      </div>
    </div>
  </div>

  <div class="section-name" *ngIf="gameDetails.screenshots.length">Gameplay Snapshots</div>
  <div class="screenshots">
    <div class="snap" *ngFor="let ss of gameDetails.screenshots">
      <img [src]="ss.image" alt="">
    </div>
  </div>
</div>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>