<div class="pad-16" *ngIf="!showLoader">
  <div class="image-container flex-center">
    <img class="fit-image" [src]="gameDetails.thumbnail" alt="" />
  </div>

  <div class="info-cards flex-stretch">
    <div class="info-card full-width">
      <div class="info-card-title pad-16 flex-justify">
        <div>{{ gameDetails.title }}</div>
        <mat-icon class="cursor" (click)="nav(gameDetails.game_url)"
          >open_in_new</mat-icon
        >
      </div>
      <div class="info-card-data pad-16">
        {{ gameDetails.description }}
      </div>
    </div>

    <div class="info-card spacer">
      <div class="info-card-title pad-16">Game Details</div>
      <div class="info-card-data pad-16">
        <ul>
          <li>Genre: {{ gameDetails.genre }}</li>
          <li>Platform: {{ gameDetails.platform }}</li>
          <li>Released on: {{ gameDetails.release_date }}</li>
          <li>Status: {{ gameDetails.status }}</li>
          <li>Developer: {{ gameDetails.developer }}</li>
          <li>Publisher: {{ gameDetails.publisher }}</li>
        </ul>
      </div>
    </div>

    <div
      class="info-card spacer"
      *ngIf="gameDetails.minimum_system_requirements"
    >
      <div class="info-card-title pad-16">System Requirementss</div>
      <div class="info-card-data pad-16">
        <ul>
          <li>
            Operating System: {{ gameDetails.minimum_system_requirements.os }}
          </li>
          <li>
            Processor:
            {{ gameDetails.minimum_system_requirements.processor }}
          </li>
          <li>Memory: {{ gameDetails.minimum_system_requirements.memory }}</li>
          <li>
            Graphics: {{ gameDetails.minimum_system_requirements.graphics }}
          </li>
          <li>
            Storage Space: {{ gameDetails.minimum_system_requirements.storage }}
          </li>
        </ul>
      </div>
    </div>

    <div class="info-card full-width" *ngIf="gameDetails.screenshots.length">
      <div class="info-card-title pad-16">Gameplay Snapshots</div>
      <div class="info-card-data screenshots pad-16">
        <div class="image-container" *ngFor="let ss of gameDetails.screenshots">
          <img class="fit-image" [src]="ss.image" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
