.section {
    font-weight: 400;
    display: flex;
    padding: 1rem;
    width: 80vw;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    align-items: center;
    margin: auto;

    mat-form-field {
        margin: 0 1rem;
    }


    .btn-container {
        padding: 20px;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        flex-flow: column;
        margin-top: -20px;

        button {

            display: flex;
            align-items: center;

            p {
                margin-bottom: 0;
                margin-right: 0.4rem;
            }
        }

        .btn {
            background: none;
            border: 2px solid;
            font: inherit;
            line-height: 1;
            margin: 0.5rem;
            padding: 0.6rem 1rem;
            color: #3ada3fd4;
            transition: 0.25s;

            &:hover {
                border-color: #f34949;
                color: #f34949;
                box-shadow: 0 0.5rem 0.5rem -0.4rem #f34949;
                transform: translateY(-0.25rem);
            }

            &:active {
                border-color: #f3eb49;
                color: #f3eb49;
                box-shadow: 0 0.5rem 0.5rem -0.4rem #f3eb49;
                transform: translateY(-0.25rem);
            }

        }
    }
}

.article-container {
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
    display: flex;
    align-items: flex-start;

    .article-card {
        max-width: 25vw;
        height: auto;
        margin: 1rem;
        background-color: rgba(50, 50, 50, 0.318);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        &:hover {
            box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.8);
            transition: all 0.2s ease-out;
            transform: translateY(-5px);
            cursor: pointer;
        }
    }
}