@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Noto+Serif:ital@1&display=swap");

.titlebar {
     height: 4rem;
     background: linear-gradient(to right, #232526, #414345);
     backdrop-filter: blur(2px);
     color: #fff;

     .header {
          font-family: "Noto Serif", serif;
          font-weight: 500;
          cursor: pointer;
          font-size: 1.2rem;
     }

     .spacer {
          flex: 1 1 auto;
     }
}