.custom-header {
  border-left: 4px solid #e18917;
}

.no-margin {
  margin: 0 auto;
}
.items {
  gap: 16px;
  flex-wrap: wrap;

  .item {
    width: calc(33% - 48px);
    border-radius: 16px;
    background: rgb(0 0 0 / 75%);
    box-shadow: 4px 4px 8px rgb(0 0 0 / 50%);
    border: 4px solid #e11717;

    .images {
      gap: 16px;
      align-items: baseline;
      .image {
        width: 50%;
      }

      .title {
        font-family: "Fira Sans Condensed", sans-serif;
        color: yellow;
        margin-bottom: 4px;
      }
    }

    .content {
      font-family: "Noto Serif", serif;
      color: #35c0ff;
      margin: 0;
    }
  }
}

@media screen and (max-width: 799px) {
  .items .item {
    width: calc(50% - 48px);
  }
}

@media screen and (max-width: 499px) {
  .items .item {
    width: 100%;
  }
}
