<mat-toolbar class="menu">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span class="menu-title" [routerLink]="'/about'">My App</span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/anime-quote'">
        Anime Quotes
      </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/news'">
        News
      </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/invoice'">
        Invoice
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle()"
        [routerLink]="'/link-preview'"
      >
        Link Preview
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle()"
        [routerLink]="'/create-activity'"
      >
        Create Activity
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
