<mat-toolbar class="menu">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span class="menu-title" [routerLink]="'/about'">{{ title }}</span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <a
        mat-list-item
        (click)="sidenav.toggle(); changeTitle('Anime Quotes')"
        [routerLink]="'/anime-quote'"
      >
        Anime Quotes
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle(); changeTitle('Global News')"
        [routerLink]="'/news'"
      >
        News
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle(); changeTitle('Invoice Generator')"
        [routerLink]="'/invoice'"
      >
        Invoice
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle(); changeTitle('Preview URL')"
        [routerLink]="'/link-preview'"
      >
        Link Preview
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle(); changeTitle('Movie DB')"
        [routerLink]="'/movie-db'"
      >
        Movie DB
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle(); changeTitle('Horoscope')"
        [routerLink]="'/horoscope'"
      >
        Horoscope
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
