@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

.container {
  width: 100vw;
  min-height: calc(100vh - 4rem);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.pinimg.com/originals/ee/7d/bc/ee7dbc369fd1cf1cce4714002480a8ad.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2em 0;

  .search-box {
    width: 80%;
    margin: auto;
    padding: 1em 2em;
    border-radius: 0.8em;
    background: rgb(255 255 255 / 14%);
    backdrop-filter: blur(2px);
    box-shadow: rgb(0 0 0 / 45%) 0px 12px 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;

    mat-form-field {
      flex: 1;
    }

    button {
      background-color: rgb(246, 121, 3);
      color: black;
    }
  }

  .card {
    margin: auto;
    padding: 2em;
    border-radius: 0.8em;
    background: rgb(0 0 0 / 24%);
    backdrop-filter: blur(2px);
    box-shadow: rgb(0 0 0 / 45%) 0px 12px 12px 0px;
    width: 80%;
    display: flex;
    gap: 16px;
    font-family: "PT Serif", serif;

    .left-panel {
      flex: 1;

      img {
        object-fit: contain;
        width: 80%;
        margin: auto;
      }
    }

    .right-panel {
      flex: 2;
    }

    .title {
      font-size: 1.5rem;
      margin: 0.4rem 0;
    }

    .subtitle {
      font-size: 1.2rem;
    }

    .content {
      font-size: 1rem;
      margin: 0.2rem;
    }

    .text-right {
      text-align: end;
    }

    .caption {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .link {
      display: inlne;
      margin: 0.2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}