<div class="container fix-background full-width">
  <app-titlebar title="Horoscope"></app-titlebar>

  <section class="news-menu flex-center pad-16">
    <mat-form-field class="menu-item" appearance="outline" color="accent">
      <mat-label>Zodiad</mat-label>
      <mat-label>Zodiac Sign</mat-label>
      <mat-select [(ngModel)]="sign" (selectionChange)="checkHoroscope()">
        <mat-option *ngFor="let s of signs" [value]="s.zodiacName">
          <div class="option flex">
            <img [src]="s.icon" alt="" matPrefix />
            {{ s.zodiacName | uppercase }}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <div class="cards flex-center pad-16" *ngIf="!loader; else spinner">
    <div class="card" *ngFor="let horo of result | keyvalue">
      <div class="face face1">
        <div class="content">
          <h2>{{ horo.value.current_date }}</h2>
          <p class="text-justify">{{ horo.value.description }}</p>
          <div class="text-center">
            <div>Mood: {{ horo.value.mood }}</div>
            <div>Compatibility: {{ horo.value.compatibility }}</div>
            <div>Color: {{ horo.value.color }}</div>
            <div>Number: {{ horo.value.lucky_number }}</div>
            <div>Time: {{ horo.value.lucky_time }}</div>
          </div>
        </div>
      </div>
      <div class="face face2">
        <h2>{{ horo.key | titlecase }}</h2>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
