<div class="recipe flex-center">
  <button mat-icon-button (click)="prevChar()">
    <mat-icon class="icon">keyboard_double_arrow_left</mat-icon>
  </button>
  <div class="header">
    {{ char }} ({{ results && results.length ? results.length : "0" }})
  </div>
  <button mat-icon-button (click)="nextChar()">
    <mat-icon class="icon">keyboard_double_arrow_right</mat-icon>
  </button>
</div>

<div *ngIf="!showLoader; else loader">
  <div class="meals flex-stretch margin-16">
    <div
      class="card"
      *ngFor="let meal of results"
      (click)="gotoMeal(meal.idMeal)"
    >
      <img class="image" [src]="meal.strMealThumb" loading="lazy" />
      <div class="title text-center">
        <div>{{ meal.strMeal }}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
