<div class="flex-container">
  <div class="left">
    <button class="nav" mat-icon-button (click)="prevChar()">
      <mat-icon class="icon">arrow_left</mat-icon>
    </button>
  </div>
  <div class="header">Recipe Dictionary : {{char}} ({{results && results.length?results.length : '0'}})</div>
  <div class="right">
    <button class="nav" mat-icon-button (click)="nextChar()">
      <mat-icon class="icon">arrow_right</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="!showLoader; else loader">
  <div class="meals">
    <div class="card" *ngFor="let meal of results" (click)="gotoMeal(meal.idMeal)">
      <img class="card_image" [src]="meal.strMealThumb" />
      <div class="card_title title-white">
        <div>{{meal.strMeal|trimText:30}}</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>