<div class="container">
    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Login">

            <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <h1 class="form-name">Login with Existing User</h1>
                <p>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
                            Please enter a <strong>valid</strong> email address
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Log In</button>
            </form>

        </mat-tab>

        <mat-tab label="Signup">

            <form class="form" [formGroup]="signupForm" (ngSubmit)="registerUser()">
                <h1 class="form-name">Register New User</h1>
                <p>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>User Name</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="signupForm.controls['name'].hasError('required')">
                            Username is <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="signupForm.controls['name'].hasError('minLength') || signupForm.controls['name'].hasError('maxLength')">
                            Username should be <strong>6-10</strong> characters
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="signupForm.controls['email'].hasError('email') && !signupForm.controls['email'].hasError('required')">
                            Please enter a <strong>valid</strong> email address
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
                            Password can't be <strong>empty</strong>
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls['password'].hasError('minLength')">
                            Password should be atleast <strong>8</strong> characters
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls['password'].hasError('pattern')">
                            Please use only <strong>alphanumeric</strong> characters
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="signupForm.controls['confirmPassword'].hasError('required')">
                            Confirm Password can't be <strong>empty</strong>
                        </mat-error>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="primary" [disabled]="signupForm.invalid">Sign Up</button>
            </form>

        </mat-tab>

    </mat-tab-group>
</div>