<div class="container fix-background full-width">
  <mat-toolbar class="nav flex-justify">
    <button mat-icon-button (click)="home()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="header">Manga Catalogue</div>
    <div class="flex-center">
      <button mat-icon-button routerLink="/manga/search">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container [hasBackdrop]="isMobile">
    <mat-sidenav #drawer position="end" mode="over">
      <button
        mat-button
        class="menu-btn"
        routerLink="/manga/top"
        (click)="drawer.close()"
      >
        Top Manga
      </button>
      <button
        mat-button
        class="menu-btn"
        routerLink="/manga/genre"
        (click)="drawer.close()"
      >
        Genres
      </button>
      <button
        mat-button
        class="menu-btn"
        routerLink="/manga/magazine"
        (click)="drawer.close()"
      >
        Magazines
      </button>
      <button
        mat-button
        class="menu-btn"
        routerLink="/manga/recommendation"
        (click)="drawer.close()"
      >
        Recommendations
      </button>
      <button
        mat-button
        class="menu-btn"
        routerLink="/manga/random"
        (click)="drawer.close()"
      >
        Random
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet name="manga"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
