<mat-stepper [linear]="true" class="stepper">
    <mat-step label="Client's Details" [completed]="form1?.isCompleted ? true : false">
        <app-client-details></app-client-details>
    </mat-step>
    <mat-step label="Order Details" [completed]="form2?.isCompleted ? true : false">
        <app-orders></app-orders>
    </mat-step>
    <mat-step label="Verify" *ngIf="ordersReceived()">
        <app-preview></app-preview>
    </mat-step>
    <mat-step label="Remarks">
        <app-remarks></app-remarks>
    </mat-step>
</mat-stepper>