<section class="news-menu flex-center pad-16">
  <mat-form-field class="menu-item" appearance="outline" color="accent">
    <mat-label>Genre</mat-label>
    <mat-select (selectionChange)="filterByTag($event)">
      <mat-option value="">Any</mat-option>
      <mat-option *ngFor="let tag of genres" [value]="tag">
        {{ tag | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="menu-item" appearance="outline" color="accent">
    <mat-label>Sort by</mat-label>
    <mat-select (selectionChange)="sort($event)">
      <mat-option *ngFor="let order of orders" [value]="order">
        {{ order | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="menu-item" appearance="outline" color="accent">
    <mat-label>Platform</mat-label>
    <mat-select (selectionChange)="filterByPlatform($event)">
      <mat-option value="">Any</mat-option>
      <mat-option *ngFor="let plt of platforms" [value]="plt">
        {{ plt | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>

<div class="cards flex-stretch pad-16" *ngIf="!showLoader; else spinner">
  <div
    class="card cursor"
    *ngFor="let game of filteredGames"
    (click)="review(game.id)"
  >
    <div class="image-container flex-center">
      <img class="fit-image" [src]="game.thumbnail" [alt]="game.title" />
    </div>
    <div class="title text-center">{{ game.title }}</div>
    <div class="details">
      <div class="description">{{ game.short_description }}</div>
      <div class="tags flex-justify">
        <div class="tag">{{ game.genre }}</div>
        <mat-icon>{{
          game.platform == "Web Browser" ? "public" : "laptop_mac"
        }}</mat-icon>
        <div class="tag">{{ game.release_date }}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
