<div class="search-box">
  <mat-form-field appearance="legacy" color="accent">
    <mat-label>Enter Title</mat-label>
    <input matInput [(ngModel)]="query" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="search()">
    <mat-icon matPrefix>search</mat-icon>
    Search
  </button>
</div>

<div class="gallery" *ngIf="result">
  <div *ngFor="let movie of result">
    <mat-card class="movie-card" (click)="lookup(movie.imdbID)">
      <img #img class="poster" [src]="movie.Poster" alt="" (error)="img.src = '/assets/not_found.png'" />
      <div class="card-content">
        <p class="title">{{ movie.Title | trimText: 30 }}</p>
        <p class="subtitle">
          {{ movie.Year + " • " + movie.Type | uppercase }}
        </p>
      </div>
    </mat-card>
  </div>
</div>

<div class="navigate">
  <button mat-icon-button matPrefix (click)="previous()">
    <mat-icon>keyboard_double_arrow_left</mat-icon>
  </button>
  <p>{{ "Page " + current + " of " + pages }}</p>
  <button mat-icon-button matPrefix (click)="next()">
    <mat-icon> keyboard_double_arrow_right </mat-icon>
  </button>
</div>