.recipe {
  .heading-a {
    border-left: 4px solid #a908ff;
  }
  .heading-b {
    border-left: 4px solid #827a63;
  }
  .heading-c {
    border-left: 4px solid #08ffb9;
  }
  .heading-d {
    border-left: 4px solid #0888ff;
  }

  .details .item {
    background-color: #0888ff;
  }
}
