<div *ngIf="!showLoader; else loader">
  <div class="header heading-a">{{ drink.strDrink }}</div>
  <div class="card">
    <img class="card_image" [src]="drink.strDrinkThumb" />
  </div>

  <div class="header heading-d">Details</div>
  <div class="details margin-16 flex-stretch">
    <div class="item pad-8">Name: {{ drink.strDrink }}</div>
    <div class="item pad-8">Category: {{ drink.strCategory }}</div>
    <div class="item pad-8">Type: {{ drink.strAlcoholic }}</div>
    <div class="item pad-8">Glass: {{ drink.strGlass }}</div>
  </div>

  <div class="header heading-b">Ingredients</div>
  <div class="ingredients margin-16 flex-stretch">
    <div
      class="ingredient text-center pad-16"
      *ngFor="let ingredient of drink.ingredients"
    >
      <div class="image">
        <img [src]="imagePath(ingredient.ingredient)" alt="" />
      </div>
      <div>
        <div class="name">{{ ingredient.ingredient }}</div>
        <div class="measure">{{ ingredient.measure }}</div>
      </div>
    </div>
  </div>
  <div class="header heading-c">Instructions</div>
  <div class="instructions margin-16 text-justify pad-16">
    {{ drink.strInstructions }}
  </div>
</div>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
