<app-titlebar title="cryptocurrency tracker"></app-titlebar>
<div class="container">

  <div class="coins-list" *ngIf="!showCoin; else coinInfo">
    <div class="menu">
      <mat-form-field class="filter" appearance="legacy">
        <mat-label>Filter Coins</mat-label>
        <input type="text" matInput [formControl]="filter">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Set Currency</mat-label>
        <mat-select [(ngModel)]="curr" (selectionChange)="getCoinList()">
          <mat-option *ngFor="let op of vsCurrencies" [value]="op">{{op.symbol + " " + op.value|uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Order By</mat-label>
        <mat-select [(ngModel)]="orderBy" (selectionChange)="getCoinList()">
          <mat-option *ngFor="let op of orders" [value]="op">{{op.faceValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Number of Coins</mat-label>
        <mat-select [(ngModel)]="setSize" (selectionChange)="getCoinList()">
          <mat-option *ngFor="let op of sizes" [value]="op">{{op}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="prevPage()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <h4>Page {{pageNum}}</h4>
      <button mat-icon-button (click)="nextPage()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

    <div #list class="list-container" *ngIf="!showSpinner; else loader">
      <div class="headings row">
        <span> Icon </span>
        <span> Coin </span>
        <span> Symbol </span>
        <span> Current Price </span>
        <span> Volume </span>
        <span> Change </span>
        <span> Market Cap </span>
      </div>
      <div class="row" *ngFor="let coin of filteredCoins | async" (click)="getCoinInfo(coin.id)">
        <span><img class="icon" [src]="coin.thumb" alt=""></span>
        <span> {{coin.name}} </span>
        <span class="symbol"> {{coin.symbol | uppercase}} </span>
        <span class="price"> {{curr.symbol + " " + coin.price}} </span>
        <span> {{coin.volume}} </span>
        <span class="up" [class.down]="roundUp(coin.priceChange)<0"> {{roundUp(coin.priceChange) + " %"}} </span>
        <span class="price"> {{curr.symbol + " " + coin.mktCap}} </span>
      </div>
    </div>
  </div>

</div>

<ng-template #coinInfo>
  <div class="coin-details" *ngIf="!showSpinner; else loader">
    <div class="coin-info">
      <div class="image">
        <a [href]="coinData.url" target="_blank">
          <img class="coin-image" [src]="coinData.image" alt="">
        </a>
        <h1 class="coin-name">{{(coinData.name + " | " + coinData.symbol)|uppercase}}</h1>
        <div class="tags">
          <h2 class="rank">Rank: #{{coinData.rank}}</h2>
          <span class="spacer"></span>
          <mat-icon class="up">thumb_up</mat-icon>
          <h3 class="up rank">{{coinData.upVotes + " %"}}</h3>
          <mat-icon class="down">thumb_down</mat-icon>
          <h3 class="down rank">{{coinData.downVotes + " %"}}</h3>
        </div>
      </div>
      <div class="description" [innerHtml]="coinData.description"></div>
    </div>

    <div class="tags tags-margin">
      <button mat-button class="action" (click)="home()">
        <mat-icon matPrefix>home</mat-icon>Go Back
      </button>
    </div>
  </div>
</ng-template>

<ng-template #loader>
  <div class="spinner">
    <mat-spinner color="warn"></mat-spinner>
    <h1>Loading...</h1>
  </div>
</ng-template>