@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.container {
  width: 100%;
  height: calc(100vh - 4em);
  margin: 0;
  padding: 0.5em 0;
  box-sizing: border-box;
  overflow: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images6.alphacoders.com/113/1135144.jpg") no-repeat center;
  background-size: cover;

  .menu {
    width: 80%;
    margin: 2em auto;
    padding: 1em 2em;
    border-radius: 0.8em;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(2px);
    box-shadow: rgb(0 0 0 / 45%) 0px 12px 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;

    .filter {
      flex: 1;
    }
  }

  .spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    height: 60vh;
    h1 {
      margin: 24px;
    }
  }

  .up {
    color: #2fff7b;
  }
  .down {
    color: #ef4040;
  }

  .list-container {
    max-width: 80%;
    margin: auto;

    .row {
      display: flex;
      gap: 12px;
      align-items: center;
      margin: 4px 0;
      padding: 12px;
      span {
        width: calc(100% / 7);
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        margin: auto;
        .icon {
          width: 40%;
        }
      }
      .price {
        color: #eeea1b;
      }
      .symbol {
        font-size: 0.8rem;
      }
      &:hover,
      &:active {
        background-color: rgba(5, 72, 149, 0.4);
      }
    }

    .headings {
      font-style: bold;
      border: 2px solid;
      span {
        font-weight: bold;
        font-size: 1.2rem;
      }
      &:hover {
        background: rgba(0, 0, 0, 0);
      }
    }
  }

  .coin-details {
    padding: 4em;
    font-family: "Montserrat", sans-serif;

    .tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 12px;
      padding: 0.5em 0;

      .action {
        background: rgb(255 255 255 / 60%);
        backdrop-filter: blur(2px);
        color: #000;
      }
      .spacer {
        flex: 1 1 auto;
      }
      .rank {
        font-family: "Montserrat", sans-serif;
      }
    }

    .tags-margin {
      margin: 2em 0;
    }

    .coin-info {
      display: flex;
      gap: 16px;
      .image {
        flex: 1;
        margin: 2em auto 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
          display: flex;
          .coin-image {
            margin: 0 auto;
            width: 50%;
          }
        }
        .coin-name {
          padding: 0.5em;
          font-size: 2rem;
          font-weight: bold;
          font-style: italic;
          text-align: center;
          font-family: "Montserrat", sans-serif;
        }

        .rank {
          font-size: 1.3rem;
          font-weight: 600;
        }
      }
      .description {
        flex: 2;
        padding: 2em;
        border-radius: 0.8em;
        background: rgb(255 255 255 / 80%);
        backdrop-filter: blur(2px);
        box-shadow: rgb(0 0 0 / 45%) 0px 12px 12px 0px;
        font-size: 1rem;
        color: black;
      }
    }
  }
}
