<section class="section">

    <mat-form-field appearance="outline" color="accent">
        <mat-label>Cateogries</mat-label>
        <mat-select [(ngModel)]="selectedCtg">
            <mat-option>None</mat-option>
            <mat-option class="btn" *ngFor="let category of categories" [value]="category">
                {{ category | uppercase}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
        <mat-label>Countries</mat-label>
        <mat-select [(ngModel)]="selectedCty">
            <mat-option>None</mat-option>
            <mat-option class="btn" *ngFor="let country of countries" [value]="country.iso">
                {{ country.name | uppercase}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
        <mat-label>Language</mat-label>
        <mat-select [(ngModel)]="selectedLng">
            <mat-option>None</mat-option>
            <mat-option class="btn" *ngFor="let language of languages" [value]="language.iso">
                {{ language.name | uppercase}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="btn-container">
        <button class="btn" (click)="filterSources()">
            <p>Filter</p>
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>

</section>

<div class="source-cards" *ngIf="filteredSources && filteredSources.length; else noResult">
    <div *ngFor="let source of filteredSources">
        <a [href]="source.url" target="_blank" class="data-card">
            <h3 class="card-name">{{source.name}}</h3>
            <h4 class="card-caption">{{ source.category | uppercase }}</h4>
            <p class="card-content">{{ source.description }}</p>
            <span class="link-text">
                Read More
            </span>
        </a>
    </div>
</div>

<ng-template #noResult>
    <div class="loader">
        <h1>No Results Found.</h1>
    </div>
</ng-template>