.container {
  background-image: url("/assets/backgrounds/fitness.jpg");
  min-height: 100vh;
  .calculator {
    width: 80%;
    margin: 16px auto;
    gap: 16px;
    flex-wrap: wrap;

    .input,
    .output {
      box-sizing: border-box;
      width: 100%;
      max-width: 400px;
      gap: 16px;
      border-radius: 16px;
      background: rgb(0 0 0 / 24%);
      backdrop-filter: blur(4px);
      box-shadow: #000 4px 4px 12px;
      font-family: "Poppins", cursive;
    }

    .input {
      min-height: calc(80vh - 40px);
      mat-form-field {
        width: 100%;
      }

      button:enabled {
        background-color: rgb(246, 121, 3);
        color: black;
      }
      .units {
        line-height: 1;
        gap: 12px;
      }
      hr {
        width: 100%;
        margin: 0;
      }
    }

    .output {
      .cals {
        width: 80%;

        .pair {
          display: flex;
          flex-direction: row;

          .entry {
            padding: 12px;
            background: rgb(0, 0, 0, 0.4);
            border: 1px solid;
            width: 100%;
            text-align: center;
          }
        }

        .cals-actions {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }
}
