.recipe {
  .heading-a {
    border-left: 4px solid #a908ff;
  }
  .heading-e {
    border-left: 4px solid #b8ff06;
  }
  .heading-b {
    border-left: 4px solid #ffbd08;
  }
  .heading-c {
    border-left: 4px solid #087fff;
  }
  .heading-d {
    border-left: 4px solid #ff0606;
  }

  .details .item {
    background-color: #b8ff06;
  }

  .youtube {
    width: calc(100% - 32px);
    height: 400px;
    max-width: 560px;
    margin-bottom: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 799px) {
  .recipe .youtube {
    height: 320px;
  }
}
@media screen and (max-width: 499px) {
  .recipe .youtube {
    height: 240px;
  }
}
