<div class="container">
    <form class="form" [formGroup]="form">
        <p>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Terms & Conditions</mat-label>
                <textarea matInput rows="4" formControlName="t_n_c"></textarea>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Invoice Notes</mat-label>
                <textarea matInput rows="4" formControlName="notes"></textarea>
            </mat-form-field>
        </p>
    </form>
    <div class="step-actions">
        <button class="step-btn" mat-raised-button matStepperPrevious color="accent">Go Back</button>
        <span class="spacer"></span>
        <button class="step-btn" mat-raised-button matStepperNext color="accent" (click)="upload()">Submit</button>
    </div>
</div>