<div class="container">
  <div class="search-box">
    <mat-form-field appearance="legacy" color="accent">
      <mat-label>Enter URL Link</mat-label>
      <input matInput [(ngModel)]="url" />
    </mat-form-field>
    <button mat-stroked-button (click)="search()">
      <mat-icon matPrefix>search</mat-icon>
      Look Up
    </button>
  </div>

  <div *ngIf="result && result.url">
    <mat-card class="result">
      <mat-card-header>
        <mat-card-title>{{ result.title }} </mat-card-title>
      </mat-card-header>
      <img
        *ngIf="result.image"
        mat-card-image
        class="card-image"
        [src]="result.image"
        alt=""
      />
      <mat-card-content class="content">
        <p>{{ result.description }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-flat-button color="primary" [href]="result.url" target="_blank">
          <mat-icon matPrefix>open_in_new</mat-icon>
          Visit Website</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
